<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="DomainMapper">
    <!--表名 -->
    <sql id="tableName">
		domain
	</sql>

    <!-- 字段 -->
    <sql id="Field">
		DOMAIN_ID,
		DOMAINNAME,
		CONTRACTPEOPLE,
		CONTRACTPHONE,
		ACCOUNTER,
		PERCENT,
		CDT
	</sql>

    <!-- 字段值 -->
    <sql id="FieldValue">
		#{DOMAIN_ID},
		#{DOMAINNAME},
		#{CONTRACTPEOPLE},
		#{CONTRACTPHONE},
		#{ACCOUNTER},
		#{PERCENT},
		#{CDT}
	</sql>

   <select id="listPage" parameterType="page" resultType="pd">
        select
        <include refid="Field"></include>
        from
        <include refid="tableName"></include>
        where
        1 = 1
        <if test="pd.keywords!= null and pd.keywords != ''"><!-- 关键词检索 -->
            and
            (
            	DOMAINNAME LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%')
            )
        </if>
        order by DOMAIN_ID ASC
    </select>

    <select id="listAll" parameterType="pd" resultType="pd">
        select
        <include refid="Field"></include>
        from
        <include refid="tableName"></include>
         where
        1 = 1
        <if test="keywords!= null and keywords != ''"><!-- 关键词检索 -->
            and
            (
            	DOMAINNAME LIKE CONCAT(CONCAT('%', #{keywords}),'%')
            )
        </if>
        order by DOMAIN_ID ASC
    </select>

    <!-- 新增 -->
    <insert id="save" parameterType="pd" useGeneratedKeys="true" keyProperty="DOMAIN_ID">
        insert into <include refid="tableName"></include> (
        <include refid="Field"></include>
        ) values (
        <include refid="FieldValue"></include>
        )
    </insert>
    
        <!-- 修改 -->
    <update id="edit" parameterType="pd">
        update
        <include refid="tableName"></include>
        set
        DOMAIN_ID = #{DOMAIN_ID}
        <if test="DOMAINNAME != null and DOMAINNAME != ''">
            ,DOMAINNAME = #{DOMAINNAME}
        </if>
        <if test="CONTRACTPEOPLE != null and CONTRACTPEOPLE != ''">
            ,CONTRACTPEOPLE = #{CONTRACTPEOPLE}
        </if>
        <if test="CONTRACTPHONE != null and CONTRACTPHONE != ''">
            ,CONTRACTPHONE = #{CONTRACTPHONE}
        </if>
        <if test="PERCENT != null and PERCENT != ''">
            ,PERCENT = #{PERCENT}
        </if>
        where
        DOMAIN_ID = #{DOMAIN_ID}
    </update>
    
    <!-- 删除 -->
    <delete id="delete" parameterType="pd" flushCache="false">
        delete from
        <include refid="tableName"></include>
        where
        DOMAIN_ID = #{DOMAIN_ID}
    </delete>
    
    <!-- 通过user_id获取数据 -->
    <select id="findById" parameterType="pd" resultType="pd">
        select
        <include refid="Field"></include>
        from
        <include refid="tableName"></include>
        where
        DOMAIN_ID = #{DOMAIN_ID}
    </select>
</mapper>