<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="MemberMapper">
    <!--表名 -->
    <sql id="tableName">
		member
	</sql>

    <!-- 字段 -->
    <sql id="Field">
		MEMBER_ID,
		USERNAME,
		NICKNAME,
		FULLNAME,
		PHONE,
		SEX,
		PHOTO,
		WAITACCOUNT,
		ALREADYACCOUNT,
		WXOPEN_ID,
		FROMWXOPEN_ID,
		MEMBERTYPE_ID
	</sql>

    <!-- 字段值 -->
    <sql id="FieldValue">
		#{MEMBER_ID},
		#{USERNAME},
		#{NICKNAME},
		#{FULLNAME},
		#{PHONE},
		#{SEX},
		#{PHOTO},
		#{WAITACCOUNT},
		#{ALREADYACCOUNT},
		#{WXOPEN_ID},
		#{FROMWXOPEN_ID},
		#{MEMBERTYPE_ID}
	</sql>

   <select id="listPage" parameterType="page" resultType="pd">
        select
	        m.MEMBER_ID,
			m.USERNAME,
			m.NICKNAME,
			m.FULLNAME,
			m.PHONE,
			m.SEX,
			m.PHOTO,
			m.WAITACCOUNT,
			m.ALREADYACCOUNT,
			m.WXOPEN_ID,
			m.FROMWXOPEN_ID,
			m.MEMBERTYPE_ID,
			mt.MEMBERTYPENAME
        from
        <include refid="tableName"></include> m
        left join membertype mt on m.membertype_id = mt.membertype_id
        where
        1 = 1
        <if test="pd.keywords!= null and pd.keywords != ''"><!-- 关键词检索 -->
            and
            (
            	m.USERNAME LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%')
            	OR
            	m.NICKNAME LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%')
            	OR
            	m.FULLNAME LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%')
            	OR
            	m.PHONE LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%')
            )
        </if>
        <if test="pd.MEMBERTYPE_ID!= null and pd.MEMBERTYPE_ID != ''"><!-- 关键词检索 -->
            and m.MEMBERTYPE_ID = #{pd.MEMBERTYPE_ID}
        </if>
        order by m.MEMBER_ID ASC
    </select>

    <select id="listAll" parameterType="pd" resultType="pd">
        select
	        m.MEMBER_ID,
			m.USERNAME,
			m.NICKNAME,
			m.FULLNAME,
			m.PHONE,
			m.SEX,
			m.PHOTO,
			m.WAITACCOUNT,
			m.ALREADYACCOUNT,
			m.WXOPEN_ID,
			m.FROMWXOPEN_ID,
			m.MEMBERTYPE_ID,
			mt.MEMBERTYPENAME
        from
        <include refid="tableName"></include> m
        left join membertype mt on m.membertype_id = mt.membertype_id
        where
        1 = 1
        <if test="keywords!= null and keywords != ''"><!-- 关键词检索 -->
            and
            (
            	m.USERNAME LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%')
            	OR
            	m.NICKNAME LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%')
            	OR
            	m.FULLNAME LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%')
            	OR
            	m.PHONE LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%')
            )
        </if>
        <if test="MEMBERTYPE_ID!= null and MEMBERTYPE_ID != ''"><!-- 关键词检索 -->
            and m.MEMBERTYPE_ID = #{MEMBERTYPE_ID}
        </if>
        order by m.MEMBER_ID ASC
    </select>
    
    <select id="listTeam" parameterType="pd" resultType="pd">
        select
	        m.MEMBER_ID,
			m.USERNAME,
			m.NICKNAME,
			m.FULLNAME,
			m.PHONE,
			m.SEX,
			m.PHOTO,
			m.WAITACCOUNT,
			m.ALREADYACCOUNT,
			m.WXOPEN_ID,
			m.FROMWXOPEN_ID,
			m.MEMBERTYPE_ID,
			m.LEVEL,
			mt.MEMBERTYPENAME
        from
        (
        	select *,1 as level from member m where m.fromwxopen_id = #{WXOPEN_ID}
			UNION all select *,2 as level from member m where m.fromwxopen_id in (select wxopen_id from member m where m.fromwxopen_id = #{WXOPEN_ID})
        ) m
        left join membertype mt on m.membertype_id = mt.membertype_id
        where
        1 = 1
        <if test="keywords!= null and keywords != ''"><!-- 关键词检索 -->
            and
            (
            	m.USERNAME LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%')
            	OR
            	m.NICKNAME LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%')
            	OR
            	m.FULLNAME LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%')
            	OR
            	m.PHONE LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%')
            )
        </if>
        <if test="MEMBERTYPE_ID!= null and MEMBERTYPE_ID != ''"><!-- 关键词检索 -->
            and m.MEMBERTYPE_ID = #{MEMBERTYPE_ID}
        </if>
        order by m.MEMBER_ID ASC
    </select>
    
    <select id="listCharges" parameterType="pd" resultType="pd">
        select
	        m.MEMBER_ID,
			m.USERNAME,
			m.NICKNAME,
			m.FULLNAME,
			m.PHONE,
			m.SEX,
			m.PHOTO,
			m.WAITACCOUNT,
			m.ALREADYACCOUNT,
			m.WXOPEN_ID,
			m.FROMWXOPEN_ID,
			m.MEMBERTYPE_ID,
			mt.MEMBERTYPENAME
        from
        <include refid="tableName"></include> m
        left join membertype mt on m.membertype_id = mt.membertype_id
        order by m.WAITACCOUNT DESC
        
        LIMIT 0,100
    </select>
    
    <select id="listNumber" parameterType="pd" resultType="pd">
        select
	        m.MEMBER_ID,
			m.USERNAME,
			m.NICKNAME,
			m.FULLNAME,
			m.PHONE,
			m.SEX,
			m.PHOTO,
			m.WAITACCOUNT,
			m.ALREADYACCOUNT,
			m.WXOPEN_ID,
			m.FROMWXOPEN_ID,
			m.MEMBERTYPE_ID,
			mt.MEMBERTYPENAME,
			ifnull(t.COUNT,0) COUNT
        from
        <include refid="tableName"></include> m
        left join membertype mt on m.membertype_id = mt.membertype_id
        left join (
        	select m.member_id ,count(1) count from ((select m1.member_id from
			member m1
			left join member m2 on m1.wxopen_id = m2.fromwxopen_id
			where m2.wxopen_id is not null
			)
			UNION all
			(select m1.member_id from
			member m1
			left join member m2 on m1.wxopen_id = m2.fromwxopen_id
			left join member m3 on m2.wxopen_id = m3.fromwxopen_id
			where m3.wxopen_id is not null
			)
			) m
			group by m.member_id
        ) t on m.member_id = t.member_id
        order by t.COUNT DESC
        
        LIMIT 0,100
    </select>
    
    <select id="listAllType" parameterType="pd" resultType="pd">
    	select 
    		MEMBERTYPE_ID,
    		MEMBERTYPENAME
    	from 
    		membertype
    	order by MEMBERTYPE_ID asc
    </select>

    <!-- 新增 -->
    <insert id="save" parameterType="pd" useGeneratedKeys="true" keyProperty="MEMBER_ID">
        insert into <include refid="tableName"></include> (
        <include refid="Field"></include>
        ) values (
        <include refid="FieldValue"></include>
        )
    </insert>
    
    <insert id="saveAccount" parameterType="pd" useGeneratedKeys="true" keyProperty="ACCOUNT_ID">
        insert into account values (
        	null,
        	#{ORDER_ID},
        	#{MEMBER_ID},
        	#{GIVEMONEY},
        	#{DESCRIPTION},
        	#{CDT}
        )
    </insert>
    
        <!-- 修改 -->
    <update id="edit" parameterType="pd">
        update
        <include refid="tableName"></include>
        set
        MEMBER_ID = #{MEMBER_ID}
        <if test="NICKNAME != null and NICKNAME != ''">
            ,NICKNAME = #{NICKNAME}
        </if>
        <if test="SEX != null and SEX != ''">
            ,SEX = #{SEX}
        </if>
        <if test="PHOTO != null and PHOTO != ''">
            ,PHOTO = #{PHOTO}
        </if>
        <if test="WAITACCOUNT != null and WAITACCOUNT != ''">
            ,WAITACCOUNT = #{WAITACCOUNT}
        </if>
        <if test="ALREADYACCOUNT != null and ALREADYACCOUNT != ''">
            ,ALREADYACCOUNT = #{ALREADYACCOUNT}
        </if>
        <if test="MEMBERTYPE_ID != null and MEMBERTYPE_ID != ''">
            ,MEMBERTYPE_ID = #{MEMBERTYPE_ID}
        </if>
        <if test="FROMWXOPEN_ID != null and FROMWXOPEN_ID != ''">
            ,FROMWXOPEN_ID = #{FROMWXOPEN_ID}
        </if>
        where
        MEMBER_ID = #{MEMBER_ID}
    </update>
    
    <!-- 删除 -->
    <delete id="delete" parameterType="pd" flushCache="false">
        delete from
        <include refid="tableName"></include>
        where
        MEMBER_ID = #{MEMBER_ID}
    </delete>
    
    <!-- 通过user_id获取数据 -->
    <select id="findById" parameterType="pd" resultType="pd">
        select
        	m.MEMBER_ID,
			m.USERNAME,
			m.NICKNAME,
			m.FULLNAME,
			m.PHONE,
			m.SEX,
			m.PHOTO,
			m.WAITACCOUNT,
			m.ALREADYACCOUNT,
			m.WXOPEN_ID,
			m.FROMWXOPEN_ID,
			m.MEMBERTYPE_ID,
			mt.MEMBERTYPENAME
        from
        <include refid="tableName"></include> m
        left join membertype mt on m.membertype_id = mt.membertype_id
        where
        m.MEMBER_ID = #{MEMBER_ID}
    </select>
    
    <select id="findBy" parameterType="pd" resultType="pd">
        select
        	m.MEMBER_ID,
			m.USERNAME,
			m.NICKNAME,
			m.FULLNAME,
			m.PHONE,
			m.SEX,
			m.PHOTO,
			m.WAITACCOUNT,
			m.ALREADYACCOUNT,
			m.WXOPEN_ID,
			m.FROMWXOPEN_ID,
			m.MEMBERTYPE_ID,
			mt.MEMBERTYPENAME
        from
        <include refid="tableName"></include> m
        left join membertype mt on m.membertype_id = mt.membertype_id
        where
        1 = 1
        <if test="WXOPEN_ID != null and WXOPEN_ID != ''">
            AND m.WXOPEN_ID = #{WXOPEN_ID}
        </if>
        limit 0,1
    </select>
</mapper>