<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="OrdersMapper">
    <!--表名 -->
    <sql id="tableName">
		orders
	</sql>

    <!-- 字段 -->
    <sql id="Field">
		ORDER_ID,
		ORDERSN,
		WEIXINSN,
		MEMBER_ID,
		ORIGINAL,
		MONEY,
		DERATE,
		CDT,
		STATE
	</sql>

    <!-- 字段值 -->
    <sql id="FieldValue">
		#{ORDER_ID},
		#{ORDERSN},
		#{WEIXINSN},
		#{MEMBER_ID},
		#{ORIGINAL},
		#{MONEY},
		#{DERATE},
		#{CDT},
		#{STATE}
	</sql>

   <select id="listPage" parameterType="page" resultType="pd">
        select
        <include refid="Field"></include>
        from
        <include refid="tableName"></include>
        where
        1 = 1
        <if test="pd.keywords!= null and pd.keywords != ''"><!-- 关键词检索 -->
            and
            (
            	CDT LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%')
            )
        </if>
         <if test="pd.MEMBER_ID != null and pd.MEMBER_ID != ''">
            and MEMBER_ID = #{pd.MEMBER_ID}
        </if>
        <if test="pd.STATE != null and pd.STATE != ''">
            and STATE = #{pd.STATE}
        </if>
        order by ORDER_ID ASC
    </select>

    <select id="listAll" parameterType="pd" resultType="pd">
        select
        <include refid="Field"></include>
        from
        <include refid="tableName"></include>
         where
        1 = 1
        <if test="keywords!= null and keywords != ''"><!-- 关键词检索 -->
            and
            (
            	CDT LIKE CONCAT(CONCAT('%', #{keywords}),'%')
            )
        </if>
        <if test="MEMBER_ID != null and MEMBER_ID != ''">
            and MEMBER_ID = #{MEMBER_ID}
        </if>
        <if test="STATE != null and STATE != ''">
            and STATE = #{STATE}
        </if>
        order by ORDER_ID ASC
    </select>

    <!-- 新增 -->
    <insert id="save" parameterType="pd" useGeneratedKeys="true" keyProperty="ORDER_ID">
        insert into <include refid="tableName"></include> (
        <include refid="Field"></include>
        ) values (
        <include refid="FieldValue"></include>
        )
    </insert>
    
        <!-- 修改 -->
    <update id="edit" parameterType="pd">
        update
        <include refid="tableName"></include>
        set
        ORDER_ID = #{ORDER_ID}
        <if test="STATE != null and STATE != ''">
            ,STATE = #{STATE}
        </if>
        <if test="WEIXINSN != null and WEIXINSN != ''">
            ,WEIXINSN = #{WEIXINSN}
        </if>
        where
        ORDER_ID = #{ORDER_ID}
    </update>
    
    <!-- 删除 -->
    <delete id="delete" parameterType="pd" flushCache="false">
        delete from
        <include refid="tableName"></include>
        where
        ORDER_ID = #{ORDER_ID}
    </delete>
    
    <!-- 通过user_id获取数据 -->
    <select id="findById" parameterType="pd" resultType="pd">
        select
        <include refid="Field"></include>
        from
        <include refid="tableName"></include>
        where
        ORDER_ID = #{ORDER_ID}
    </select>
</mapper>