<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="OrdersMapper">
    <!--表名 -->
    <sql id="tableName">
		orders
	</sql>

    <!-- 字段 -->
    <sql id="Field">
		ORDER_ID,
		ORDERSN,
		WEIXINSN,
		MEMBER_ID,
		ORIGINAL,
		MONEY,
		DERATE,
		CDT,
		UDT,
		USEPERSON,
		PERSONPHONE,
		STATE
	</sql>

    <!-- 字段值 -->
    <sql id="FieldValue">
		#{ORDER_ID},
		#{ORDERSN},
		#{WEIXINSN},
		#{MEMBER_ID},
		#{ORIGINAL},
		#{MONEY},
		#{DERATE},
		#{CDT},
		#{UDT},
		#{USEPERSON},
		#{PERSONPHONE},
		#{STATE}
	</sql>

   <select id="listPage" parameterType="page" resultType="pd">
        select
	        os.ORDER_ID,
			os.ORDERSN,
			os.WEIXINSN,
			os.MEMBER_ID,
			os.ORIGINAL,
			os.MONEY,
			os.DERATE,
			os.CDT,
			os.UDT,
			os.USEPERSON,
			os.PERSONPHONE,
			os.STATE,
			osi.GOODS_ID,
			osi.MONEY AS MONEYONE,
			osi.NUMBER,
			g.GOODSNAME,
			g.GOODSDESC,
			s.SHOP_ID,
			p.FILEPATH
        from
        <include refid="tableName"></include> os
        left join ordersitem osi on os.order_id = osi.order_id
        left join goods g on osi.goods_id = g.goods_id
        left join shop s on g.shop_id = s.shop_id
        left join ( SELECT * FROM file WHERE filetype = '1'  GROUP BY reference_id ) p on g.goods_id = p.reference_id
        where
        1 = 1
        <if test="pd.keywords!= null and pd.keywords != ''"><!-- 关键词检索 -->
            and
            (
            	os.ORDERSN LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%')
            )
        </if>
         <if test="pd.MEMBER_ID != null and pd.MEMBER_ID != ''">
            and os.MEMBER_ID = #{pd.MEMBER_ID}
        </if>
        <if test="pd.STATE != null and pd.STATE != ''">
            and os.STATE = #{pd.STATE}
        </if>
        <if test="pd.SHOP_ID != null and pd.SHOP_ID != ''">
            and s.SHOP_ID = #{pd.SHOP_ID}
        </if>
        <if test="pd.SQLCONDITION != null and pd.SQLCONDITION != ''"><!-- 关键词检索 -->
            ${pd.SQLCONDITION}
        </if>
        order by os.ORDER_ID DESC
    </select>

    <select id="listAll" parameterType="pd" resultType="pd">
        select
        	os.ORDER_ID,
			os.ORDERSN,
			os.WEIXINSN,
			os.MEMBER_ID,
			os.ORIGINAL,
			os.MONEY,
			os.DERATE,
			os.CDT,
			os.UDT,
			os.USEPERSON,
			os.PERSONPHONE,
			os.STATE,
			osi.GOODS_ID,
			osi.MONEY AS MONEYONE,
			osi.NUMBER,
			g.GOODSNAME,
			g.GOODSDESC,
			s.SHOP_ID,
			p.FILEPATH
        from
        <include refid="tableName"></include> os
        left join ordersitem osi on os.order_id = osi.order_id
        left join goods g on osi.goods_id = g.goods_id
        left join shop s on g.shop_id = s.shop_id
        left join ( SELECT * FROM file WHERE filetype = '1'  GROUP BY reference_id ) p on g.goods_id = p.reference_id
         where
        1 = 1
        <if test="keywords!= null and keywords != ''"><!-- 关键词检索 -->
            and
            (
            	os.ORDERSN LIKE CONCAT(CONCAT('%', #{keywords}),'%')
            )
        </if>
        <if test="MEMBER_ID != null and MEMBER_ID != ''">
            and os.MEMBER_ID = #{MEMBER_ID}
        </if>
        <if test="STATE != null and STATE != ''">
            and os.STATE = #{STATE}
        </if>
        <if test="SHOP_ID != null and SHOP_ID != ''">
            and s.SHOP_ID = #{SHOP_ID}
        </if>
        <if test="SQLCONDITION != null and SQLCONDITION != ''"><!-- 关键词检索 -->
            ${SQLCONDITION}
        </if>
        order by os.ORDER_ID DESC
    </select>
    
    <select id="listAllRefund" parameterType="pd" resultType="pd">
    	select 
    		REFUNDTYPE_ID,
    		REFUNDTYPENAME
    	from refundtype
    		order by REFUNDTYPE_ID asc
    </select>
    
    <insert id="saveRefund" parameterType="pd">
    	insert into refundinfo values(null,#{ORDER_ID},#{REFUNDDESC},#{CDT})
    </insert>

    <!-- 新增 -->
    <insert id="save" parameterType="pd" useGeneratedKeys="true" keyProperty="ORDER_ID">
        insert into <include refid="tableName"></include> (
        <include refid="Field"></include>
        ) values (
        <include refid="FieldValue"></include>
        )
    </insert>
    
        <!-- 修改 -->
    <update id="edit" parameterType="pd">
        update
        <include refid="tableName"></include>
        set
        ORDER_ID = #{ORDER_ID}
        <if test="STATE != null and STATE != ''">
            ,STATE = #{STATE}
        </if>
        <if test="WEIXINSN != null and WEIXINSN != ''">
            ,WEIXINSN = #{WEIXINSN}
        </if>
        <if test="USEPERSON != null and USEPERSON != ''">
            ,USEPERSON = #{USEPERSON}
        </if>
        <if test="PERSONPHONE != null and PERSONPHONE != ''">
            ,PERSONPHONE = #{PERSONPHONE}
        </if>
        where
        ORDER_ID = #{ORDER_ID}
    </update>
    
    <!-- 删除 -->
    <delete id="delete" parameterType="pd" flushCache="false">
        delete from
        <include refid="tableName"></include>
        where
        ORDER_ID = #{ORDER_ID}
    </delete>
    
    <!-- 通过user_id获取数据 -->
    <select id="findById" parameterType="pd" resultType="pd">
        select
        	os.ORDER_ID,
			os.ORDERSN,
			os.WEIXINSN,
			os.MEMBER_ID,
			os.ORIGINAL,
			os.MONEY,
			os.DERATE,
			os.CDT,
			os.UDT,
			os.USEPERSON,
			os.PERSONPHONE,
			os.STATE,
			osi.GOODS_ID,
			osi.MONEY AS MONEYONE,
			osi.NUMBER,
			g.GOODSNAME,
			g.GOODSDESC,
			s.SHOP_ID,
			p.FILEPATH
        from
        <include refid="tableName"></include> os
        left join ordersitem osi on os.order_id = osi.order_id
        left join goods g on osi.goods_id = g.goods_id
        left join shop s on g.shop_id = s.shop_id
        left join ( SELECT * FROM file WHERE filetype = '1'  GROUP BY reference_id ) p on g.goods_id = p.reference_id
        where
        os.ORDER_ID = #{ORDER_ID}
    </select>
</mapper>