<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="OrdersitemMapper">
    <!--表名 -->
    <sql id="tableName">
		ordersitem
	</sql>

    <!-- 字段 -->
    <sql id="Field">
		ORDERSITEM_ID,
		ORDER_ID,
		SHOP_ID,
		GOODS_ID,
		MONEY,
		NUMBER
	</sql>

    <!-- 字段值 -->
    <sql id="FieldValue">
		#{ORDERSITEM_ID},
		#{ORDER_ID},
		#{SHOP_ID},
		#{GOODS_ID},
		#{MONEY},
		#{NUMBER}
	</sql>

   <select id="listPage" parameterType="page" resultType="pd">
        select
        <include refid="Field"></include>
        from
        <include refid="tableName"></include>
        where
        1 = 1
        <if test="pd.keywords!= null and pd.keywords != ''"><!-- 关键词检索 -->
            and
            (
            	MONEY LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%')
            )
        </if>
        order by ORDERSITEM_ID ASC
    </select>

    <select id="listAll" parameterType="pd" resultType="pd">
        select
        <include refid="Field"></include>
        from
        <include refid="tableName"></include>
         where
        1 = 1
        <if test="keywords!= null and keywords != ''"><!-- 关键词检索 -->
            and
            (
            	MONEY LIKE CONCAT(CONCAT('%', #{keywords}),'%')
            )
        </if>
        order by ORDERSITEM_ID ASC
    </select>
    
    <select id="listAllPeople" parameterType="pd" resultType="pd">
        SELECT
			m.MEMBER_ID,
			m.USERNAME,
			m.NICKNAME,
			m.FULLNAME,
			m.PHONE,
			m.SEX,
			m.PHOTO,
			m.WXOPEN_ID,
			m.MEMBERTYPE_ID
		FROM
			member m
		WHERE
			m.member_id IN (
				SELECT
					member_id
				FROM
					orders o
				LEFT JOIN ordersitem oi ON o.order_id = oi.order_id
				WHERE
					goods_id = #{GOODS_ID}
				GROUP BY
					member_id
			)
    </select>

    <!-- 新增 -->
    <insert id="save" parameterType="pd" useGeneratedKeys="true" keyProperty="ORDERSITEM_ID">
        insert into <include refid="tableName"></include> (
        <include refid="Field"></include>
        ) values (
        <include refid="FieldValue"></include>
        )
    </insert>
    
        <!-- 修改 -->
    <update id="edit" parameterType="pd">
        update
        <include refid="tableName"></include>
        set
        ORDERSITEM_ID = #{ORDERSITEM_ID}
        where
        ORDERSITEM_ID = #{ORDERSITEM_ID}
    </update>
    
    <!-- 删除 -->
    <delete id="delete" parameterType="pd" flushCache="false">
        delete from
        <include refid="tableName"></include>
        where
        ORDERSITEM_ID = #{ORDERSITEM_ID}
    </delete>
    
    <!-- 通过user_id获取数据 -->
    <select id="findById" parameterType="pd" resultType="pd">
        select
        <include refid="Field"></include>
        from
        <include refid="tableName"></include>
        where
        ORDERSITEM_ID = #{ORDERSITEM_ID}
    </select>
</mapper>