<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ServiceMapper">
    <!--表名 -->
    <sql id="tableName">
		service
	</sql>

    <!-- 字段 -->
    <sql id="Field">
		SERVICE_ID,
		SERVICEDESC,
		SERVICEPHONE,
		SERVICEWECHAT,
		SERVICEGROUP
	</sql>

    <!-- 字段值 -->
    <sql id="FieldValue">
		#{SERVICE_ID},
		#{SERVICEDESC},
		#{SERVICEPHONE},
		#{SERVICEWECHAT},
		#{SERVICEGROUP}
	</sql>

   <select id="listPage" parameterType="page" resultType="pd">
        select
        <include refid="Field"></include>
        from
        <include refid="tableName"></include>
        where
        1 = 1
        <if test="pd.keywords!= null and pd.keywords != ''"><!-- 关键词检索 -->
            and
            (
            	SERVICEDESC LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%')
            )
        </if>
        order by SERVICE_ID ASC
    </select>

    <select id="listAll" parameterType="pd" resultType="pd">
        select
        <include refid="Field"></include>
        from
        <include refid="tableName"></include>
         where
        1 = 1
        <if test="keywords!= null and keywords != ''"><!-- 关键词检索 -->
            and
            (
            	SERVICEDESC LIKE CONCAT(CONCAT('%', #{keywords}),'%')
            )
        </if>
        order by SERVICE_ID ASC
    </select>

    <!-- 新增 -->
    <insert id="save" parameterType="pd" useGeneratedKeys="true" keyProperty="SERVICE_ID">
        insert into <include refid="tableName"></include> (
        <include refid="Field"></include>
        ) values (
        <include refid="FieldValue"></include>
        )
    </insert>
    
        <!-- 修改 -->
    <update id="edit" parameterType="pd">
        update
        <include refid="tableName"></include>
        set
        SERVICE_ID = #{SERVICE_ID}
        <if test="SERVICEDESC != null and SERVICEDESC != ''">
            ,SERVICEDESC = #{SERVICEDESC}
        </if>
        <if test="SERVICEPHONE != null and SERVICEPHONE != ''">
            ,SERVICEPHONE = #{SERVICEPHONE}
        </if>
        <if test="SERVICEWECHAT != null and SERVICEWECHAT != ''">
            ,SERVICEWECHAT = #{SERVICEWECHAT}
        </if>
         <if test="SERVICEGROUP != null and SERVICEGROUP != ''">
            ,SERVICEGROUP = #{SERVICEGROUP}
        </if>
        where
        SERVICE_ID = #{SERVICE_ID}
    </update>
    
    <!-- 删除 -->
    <delete id="delete" parameterType="pd" flushCache="false">
        delete from
        <include refid="tableName"></include>
        where
        SERVICE_ID = #{SERVICE_ID}
    </delete>
    
    <!-- 通过user_id获取数据 -->
    <select id="findById" parameterType="pd" resultType="pd">
        select
        <include refid="Field"></include>
        from
        <include refid="tableName"></include>
        where
        SERVICE_ID = #{SERVICE_ID}
    </select>
</mapper>