<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ShopMapper">
    <!--表名 -->
    <sql id="tableName">
		shop
	</sql>

    <!-- 字段 -->
    <sql id="Field">
		SHOP_ID,
		MEMBER_ID,
		SHOPNAME,
		SHOPDESC,
		SHOPADDRESS,
		AVGMONEY,
		LONGITUDE,
		LATITUDE,
		CONTRACTPERSON,
		CONTRACTPHONE,
		ACCOUNTER,
		CDT,
		SHOPSTATE_ID,
		SHOPTYPE_ID,
		WAITACCOUNT,
		ALREADYACCOUNT
	</sql>

    <!-- 字段值 -->
    <sql id="FieldValue">
		#{SHOP_ID},
		#{MEMBER_ID},
		#{SHOPNAME},
		#{SHOPDESC},
		#{SHOPADDRESS},
		#{AVGMONEY},
		#{LONGITUDE},
		#{LATITUDE},
		#{CONTRACTPERSON},
		#{CONTRACTPHONE},
		#{ACCOUNTER},
		#{CDT},
		#{SHOPSTATE_ID},
		#{SHOPTYPE_ID},
		#{WAITACCOUNT},
		#{ALREADYACCOUNT}
	</sql>

   <select id="listPage" parameterType="page" resultType="pd">
        select
	        s.SHOP_ID,
	        s.MEMBER_ID,
			s.SHOPNAME,
			s.SHOPDESC,
			s.SHOPADDRESS,
			s.AVGMONEY,
			s.LONGITUDE,
			s.LATITUDE,
			s.CONTRACTPERSON,
			s.CONTRACTPHONE,
			s.ACCOUNTER,
			s.CDT,
			s.SHOPSTATE_ID,
			s.SHOPTYPE_ID,
			s.DISTANCE,
			s.WAITACCOUNT,
			s.ALREADYACCOUNT,
			ss.SHOPSTATENAME,
			st.SHOPTYPENAME,
			ifnull(f.FILEPATH,'shop.jpg') as FILEPATH
        from
        ( 
			SELECT
			    SHOP_ID,
			    MEMBER_ID,
				SHOPNAME,
				SHOPDESC,
				SHOPADDRESS,
				AVGMONEY,
				LONGITUDE,
				LATITUDE,
				CONTRACTPERSON,
				CONTRACTPHONE,
				ACCOUNTER,
				CDT,
				SHOPSTATE_ID,
				SHOPTYPE_ID,
				WAITACCOUNT,
				ALREADYACCOUNT,
			    ROUND(
			        6378.138 * 2 * ASIN(
			            SQRT(
			                POW(
			                    SIN(
			                        (
			                        <if test="pd.LATITUDE == null or pd.LATITUDE == ''">
			                            latitude
			                        </if>
			                        <if test="pd.LATITUDE != null and pd.LATITUDE != ''">
			                            #{pd.LATITUDE}
			                        </if>
			                         * PI() / 180 - latitude * PI() / 180
			                        ) / 2
			                    ),
			                    2
			                ) + COS(
			                	<if test="pd.LATITUDE == null or pd.LATITUDE == ''">
		                            latitude
		                        </if>
		                        <if test="pd.LATITUDE != null and pd.LATITUDE != ''">
		                            #{pd.LATITUDE}
		                        </if>
			                 * PI() / 180) * COS(latitude * PI() / 180) * POW(
			                    SIN(
			                        (
			                        <if test="pd.LONGITUDE == null or pd.LONGITUDE == ''">
			                            longitude
			                        </if>
			                        <if test="pd.LONGITUDE != null and pd.LONGITUDE != ''">
			                            #{pd.LONGITUDE}
			                        </if> 
			                             * PI() / 180 - longitude * PI() / 180
			                        ) / 2
			                    ),
			                    2
			                )
			            )
			        ) * 1000
			    ) AS DISTANCE
			FROM
			    shop
		 ) s
        left join shopstate ss on s.shopstate_id = ss.shopstate_id
        left join shoptype st on s.shoptype_id = st.shoptype_id
        left join file f on s.shop_id = f.reference_id and f.filetype = '7'
        where
        1 = 1
        <if test="pd.keywords!= null and pd.keywords != ''"><!-- 关键词检索 -->
            and
            (
            	s.SHOPNAME LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%')
            )
        </if>
        <if test="pd.MEMBER_ID!= null and pd.MEMBER_ID != ''"><!-- 关键词检索 -->
            and s.MEMBER_ID = #{pd.MEMBER_ID}
        </if>
        <if test="pd.SHOPSTATE_ID!= null and pd.SHOPSTATE_ID != ''"><!-- 关键词检索 -->
            and s.SHOPSTATE_ID = #{pd.SHOPSTATE_ID}
        </if>
        <if test="pd.SHOPTYPE_ID != null and pd.SHOPTYPE_ID != ''"><!-- 关键词检索 -->
            and s.SHOPTYPE_ID = #{pd.SHOPTYPE_ID}
        </if>
        <if test="pd.SQLCONDITION != null and pd.SQLCONDITION != ''"><!-- 关键词检索 -->
            ${pd.SQLCONDITION}
        </if>
        <if test="pd.SQLCONDITION == null or pd.SQLCONDITION == ''"><!-- 关键词检索 -->
            order by s.SHOP_ID DESC
        </if>
    </select>

    <select id="listAll" parameterType="pd" resultType="pd">
       select
	        s.SHOP_ID,
	        s.MEMBER_ID,
			s.SHOPNAME,
			s.SHOPDESC,
			s.SHOPADDRESS,
			s.AVGMONEY,
			s.LONGITUDE,
			s.LATITUDE,
			s.CONTRACTPERSON,
			s.CONTRACTPHONE,
			s.ACCOUNTER,
			s.CDT,
			s.SHOPSTATE_ID,
			s.SHOPTYPE_ID,
			s.WAITACCOUNT,
			s.ALREADYACCOUNT,
			s.DISTANCE,
			ss.SHOPSTATENAME,
			st.SHOPTYPENAME,
			ifnull(f.FILEPATH,'shop.jpg') as FILEPATH
        from
        ( 
			SELECT
			    SHOP_ID,
			    MEMBER_ID,
				SHOPNAME,
				SHOPDESC,
				SHOPADDRESS,
				AVGMONEY,
				LONGITUDE,
				LATITUDE,
				CONTRACTPERSON,
				CONTRACTPHONE,
				ACCOUNTER,
				CDT,
				SHOPSTATE_ID,
				SHOPTYPE_ID,
				WAITACCOUNT,
				ALREADYACCOUNT,
			    ROUND(
			        6378.138 * 2 * ASIN(
			            SQRT(
			                POW(
			                    SIN(
			                        (
			                        <if test="LATITUDE == null or LATITUDE == ''">
			                            latitude
			                        </if>
			                        <if test="LATITUDE != null and LATITUDE != ''">
			                            #{LATITUDE}
			                        </if>
			                         * PI() / 180 - latitude * PI() / 180
			                        ) / 2
			                    ),
			                    2
			                ) + COS(
			                	<if test="LATITUDE == null or LATITUDE == ''">
		                            latitude
		                        </if>
		                        <if test="LATITUDE != null and LATITUDE != ''">
		                            #{LATITUDE}
		                        </if>
			                 * PI() / 180) * COS(latitude * PI() / 180) * POW(
			                    SIN(
			                        (
			                        <if test="LONGITUDE == null or LONGITUDE == ''">
			                            longitude
			                        </if>
			                        <if test="LONGITUDE != null and LONGITUDE != ''">
			                            #{LONGITUDE}
			                        </if> 
			                             * PI() / 180 - longitude * PI() / 180
			                        ) / 2
			                    ),
			                    2
			                )
			            )
			        ) * 1000
			    ) AS DISTANCE
			FROM
			    shop
		 ) s
        left join shopstate ss on s.shopstate_id = ss.shopstate_id
        left join shoptype st on s.shoptype_id = st.shoptype_id
        left join file f on s.shop_id = f.reference_id and f.filetype = '7'
        where
        1 = 1
        <if test="keywords!= null and keywords != ''"><!-- 关键词检索 -->
            and
            (
            	s.SHOPNAME LIKE CONCAT(CONCAT('%', #{keywords}),'%')
            )
        </if>
        <if test="MEMBER_ID!= null and MEMBER_ID != ''"><!-- 关键词检索 -->
            and s.MEMBER_ID = #{MEMBER_ID}
        </if>
        <if test="SHOPSTATE_ID!= null and SHOPSTATE_ID != ''"><!-- 关键词检索 -->
            and s.SHOPSTATE_ID = #{SHOPSTATE_ID}
        </if>
        <if test="SHOPTYPE_ID != null and SHOPTYPE_ID != ''"><!-- 关键词检索 -->
            and s.SHOPTYPE_ID = #{SHOPTYPE_ID}
        </if>
        <if test="SQLCONDITION != null and SQLCONDITION != ''"><!-- 关键词检索 -->
            ${SQLCONDITION}
        </if>
        <if test="SQLCONDITION == null or SQLCONDITION == ''"><!-- 关键词检索 -->
            order by s.SHOP_ID DESC
        </if>
        
    </select>
    
    <select id="listAllState" parameterType="pd" resultType="pd">
        select
        	SHOPSTATE_ID,
        	SHOPSTATENAME
        from
        	shopstate
        order by SHOPSTATE_ID ASC
    </select>
    
    <select id="listAllType" parameterType="pd" resultType="pd">
        select
        	SHOPTYPE_ID,
        	SHOPTYPENAME
        from
        	shoptype
        order by SHOPTYPE_ID ASC
    </select>
    
    <select id="listAllApprove" parameterType="pd" resultType="pd">
        select
        	sa.SHOPAPPROVE_ID,
        	ss.SHOPSTATENAME,
        	sa.APPROVECOMMENT,
        	sa.CDT
        from
        	shopapprove sa
        left join shopstate ss on sa.shopstate_id = ss.shopstate_id
        where
        	1 = 1
        <if test="SHOP_ID!= null and SHOP_ID != ''"><!-- 关键词检索 -->
            and sa.SHOP_ID = #{SHOP_ID}
        </if>
        order by sa.cdt desc
    </select>

    <!-- 新增 -->
    <insert id="save" parameterType="pd" useGeneratedKeys="true" keyProperty="SHOP_ID">
        insert into <include refid="tableName"></include> (
        <include refid="Field"></include>
        ) values (
        <include refid="FieldValue"></include>
        )
    </insert>
    
    <insert id="saveApprove" parameterType="pd" useGeneratedKeys="true" keyProperty="SHOPAPPROVE_ID">
        insert into shopapprove values (
        	null,
        	#{SHOP_ID},
        	#{SHOPSTATE_ID},
        	#{APPROVECOMMENT},
        	#{CDT}
        )
    </insert>
    
        <!-- 修改 -->
    <update id="edit" parameterType="pd">
        update
        <include refid="tableName"></include>
        set
        SHOP_ID = #{SHOP_ID}
        <if test="SHOPNAME != null and SHOPNAME != ''">
            ,SHOPNAME = #{SHOPNAME}
        </if>
        <if test="SHOPDESC != null and SHOPDESC != ''">
            ,SHOPDESC = #{SHOPDESC}
        </if>
        <if test="SHOPSTATE_ID != null and SHOPSTATE_ID != ''">
            ,SHOPSTATE_ID = #{SHOPSTATE_ID}
        </if>
        <if test="ACCOUNTER != null and ACCOUNTER != ''">
            ,ACCOUNTER = #{ACCOUNTER}
        </if>
        <if test="SHOPADDRESS != null and SHOPADDRESS != ''">
            ,SHOPADDRESS = #{SHOPADDRESS}
        </if>
        <if test="AVGMONEY != null and AVGMONEY != ''">
            ,AVGMONEY = #{AVGMONEY}
        </if>
        <if test="CONTRACTPERSON != null and CONTRACTPERSON != ''">
            ,CONTRACTPERSON = #{CONTRACTPERSON}
        </if>
        <if test="CONTRACTPHONE != null and CONTRACTPHONE != ''">
            ,CONTRACTPHONE = #{CONTRACTPHONE}
        </if>
        where
        SHOP_ID = #{SHOP_ID}
    </update>
    
    <!-- 删除 -->
    <delete id="delete" parameterType="pd" flushCache="false">
        delete from
        <include refid="tableName"></include>
        where
        SHOP_ID = #{SHOP_ID}
    </delete>
    
    <!-- 通过user_id获取数据 -->
    <select id="findById" parameterType="pd" resultType="pd">
        select
	        s.SHOP_ID,
	        s.MEMBER_ID,
			s.SHOPNAME,
			s.SHOPDESC,
			s.SHOPADDRESS,
			s.AVGMONEY,
			s.LONGITUDE,
			s.LATITUDE,
			s.CONTRACTPERSON,
			s.CONTRACTPHONE,
			s.ACCOUNTER,
			s.CDT,
			s.SHOPSTATE_ID,
			s.SHOPTYPE_ID,
			s.WAITACCOUNT,
			s.ALREADYACCOUNT,
			s.DISTANCE,
			ss.SHOPSTATENAME,
			st.SHOPTYPENAME,
			ifnull(f.FILEPATH,'shop.jpg') as FILEPATH
        from
        ( 
			SELECT
			    SHOP_ID,
			    MEMBER_ID,
				SHOPNAME,
				SHOPDESC,
				SHOPADDRESS,
				AVGMONEY,
				LONGITUDE,
				LATITUDE,
				CONTRACTPERSON,
				CONTRACTPHONE,
				ACCOUNTER,
				CDT,
				SHOPSTATE_ID,
				SHOPTYPE_ID,
				WAITACCOUNT,
				ALREADYACCOUNT,
			    ROUND(
			        6378.138 * 2 * ASIN(
			            SQRT(
			                POW(
			                    SIN(
			                        (
			                        <if test="LATITUDE == null or LATITUDE == ''">
			                            latitude
			                        </if>
			                        <if test="LATITUDE != null and LATITUDE != ''">
			                            #{LATITUDE}
			                        </if>
			                         * PI() / 180 - latitude * PI() / 180
			                        ) / 2
			                    ),
			                    2
			                ) + COS(
			                	<if test="LATITUDE == null or LATITUDE == ''">
		                            latitude
		                        </if>
		                        <if test="LATITUDE != null and LATITUDE != ''">
		                            #{LATITUDE}
		                        </if>
			                 * PI() / 180) * COS(latitude * PI() / 180) * POW(
			                    SIN(
			                        (
			                        <if test="LONGITUDE == null or LONGITUDE == ''">
			                            longitude
			                        </if>
			                        <if test="LONGITUDE != null and LONGITUDE != ''">
			                            #{LONGITUDE}
			                        </if> 
			                             * PI() / 180 - longitude * PI() / 180
			                        ) / 2
			                    ),
			                    2
			                )
			            )
			        ) * 1000
			    ) AS DISTANCE
			FROM
			    shop
		 ) s
        left join shopstate ss on s.shopstate_id = ss.shopstate_id
        left join shoptype st on s.shoptype_id = st.shoptype_id
        left join file f on s.shop_id = f.reference_id and f.filetype = '7'
        where
        SHOP_ID = #{SHOP_ID}
    </select>
</mapper>